    <hr />
    <div class="span12"><footer><p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> / <a href="http://www.ericfish.com/" target="_blank">ericfish</a> 2013 modified for Express 3.x</p> </footer></div>
  </div>
  </body>
  <script src="/javascripts/jquery-1.10.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>